.grid{
    margin-top: 50px;
    display: inline-grid;
    /*look the next time up */
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white(2, 2, 2);
    border-radius: 5px;
    height: 600px;
    width: 600px;
    background-color: gray;
/*     box-shadow: 10px 10px; */
}

.cell{
    background-color: white;
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
    margin: 15px;
    color: blue;
    font-size: 36px;
    /* border: solid black;  ##for debugging */
}